## Logistic regression project

In [4]:
from sklearn import datasets
import numpy as np
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
# loading datasets
testing_data=pd.read_csv('test_titanic.csv',delimiter=',')
training_data=pd.read_csv('train_titanic.csv')

#test_data['Age'].mean(),inplace
training_data.Age.fillna(training_data['Age'].mean(),inplace = True)

# Dropping columns
training_data.drop('Name',axis = 1,inplace = True)
training_data.drop('Ticket', axis=1, inplace=True)

# Replacing 'sex' with '0' and '1'
training_data['Sex'].replace('female', 0, inplace=True)
training_data['Sex'].replace('male', 1, inplace=True)

# Replacing null values with '0' ,'1','2'
training_data["Cabin"].replace(np.nan ,0, inplace = True)

training_data.loc[training_data['Cabin']!=0, 'Cabin'] = 1
training_data["SibSp"].replace(np.nan , 0 , inplace = True)
training_data.loc[training_data['SibSp']!=0, 'SibSp'] = 1

training_data['Embarked'].fillna('S', inplace=True)
training_data["Embarked"].replace("S",0,inplace = True)
training_data["Embarked"].replace("C",1,inplace = True)
training_data["Embarked"].replace("Q",2,inplace = True)
training_data

C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data.Age.fillna(training_data['Age'].mean(),inplace = True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data['Sex'].replace('female', 0, inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data['Sex'].replace('male', 1, inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_data['Sex'].replace('male', 1, inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data["Cabin"].replace(np.nan , 0 , inplace = True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data["SibSp"].replace(np.nan , 0 , inplace = True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  training_data['Embarked'].fillna('S', inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\3035633540.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_data["Embarked"].replace("Q",2,inplace = True)

     Pclass  Sex       Age  SibSp  Parch     Fare Cabin  Embarked  Survived
0         2    0  29.00000      1      0  26.0000     0         0         1
1         3    1  29.70056      0      0   8.0500     0         0         0
2         2    1  39.00000      0      0  26.0000     0         0         0
3         3    0  29.00000      0      4  21.0750     0         0         0
4         3    1  25.00000      0      0   7.0500     0         0         0
..      ...  ...       ...    ...    ...      ...   ...       ...       ...
663       2    0  17.00000      0      0  10.5000     0         0         1
664       3    1  29.70056      0      0   7.7500     0         2         0
665       3    1  32.00000      0      0  56.4958     0         0         1
666       3    0  22.00000      0      0   9.8375     0         0         0
667       3    0  29.70056      1      0  15.5000     0         2         1

[668 rows x 9 columns]

In [5]:
# Replacing null values with mean()
testing_data.Age.fillna(testing_data.Age.mean(),inplace = True)
# Dropping col 'name' and 'ticket'
testing_data.drop('Name',axis = 1,inplace = True)
testing_data.drop('Ticket', axis=1, inplace=True)

# Replacing null values with '0' and '1'
testing_data['Sex'].replace('female', 0, inplace=True)
testing_data['Sex'].replace('male', 1, inplace=True)
testing_data["Cabin"].replace(np.nan , 0 , inplace = True)
testing_data.loc[testing_data['Cabin']!=0, 'Cabin'] = 1
testing_data["SibSp"].replace(np.nan , 0 , inplace = True)
testing_data.loc[training_data['SibSp']!=0, 'SibSp'] = 1
testing_data['Embarked'].fillna('S', inplace=True)
testing_data["Embarked"].replace("S",0,inplace = True)
testing_data["Embarked"].replace("C",1,inplace = True)
testing_data["Embarked"].replace("Q",2,inplace = True)
testing_data

C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  testing_data.Age.fillna(testing_data.Age.mean(),inplace = True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  testing_data['Sex'].replace('female', 0, inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  testing_data['Sex'].replace('male', 1, inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  testing_data['Sex'].replace('male', 1, inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  testing_data["Cabin"].replace(np.nan , 0 , inplace = True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  testing_data["SibSp"].replace(np.nan , 0 , inplace = True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  testing_data['Embarked'].fillna('S', inplace=True)
C:\Users\Vikas\AppData\Local\Temp\ipykernel_7756\165222415.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  testing_data["Embarked"].replace("Q",2,inplace = True)

     Pclass  Sex        Age  SibSp  Parch      Fare Cabin  Embarked
0         2    1   8.000000      1      1   36.7500     0         0
1         1    0  49.000000      0      0   25.9292     1         0
2         3    1  29.694775      0      0    7.7375     0         2
3         2    0  24.000000      2      1   27.0000     0         0
4         1    1  36.000000      0      0   26.2875     1         0
..      ...  ...        ...    ...    ...       ...   ...       ...
218       3    1  20.000000      1      0    7.9250     0         0
219       1    1  45.000000      1      0   26.5500     1         0
220       1    0  17.000000      1      0  108.9000     1         1
221       3    1  43.000000      0      0    6.4500     0         0
222       2    1  36.500000      0      2   26.0000     1         0

[223 rows x 8 columns]

In [14]:
X = training_data.drop('Survived',axis=1)
Y = training_data['Survived']
# Splitting data
from sklearn import model_selection
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=101)
# Logistic model
clf = LogisticRegression(C=2, solver = 'liblinear')
clf.fit(X_train, Y_train)
# Score
clf.score(X_train,Y_train)
clf.score(X_test,Y_test)
predictions = clf.predict(testing_data)
Y_pred = np.around(predictions)
# Dataframe
predictions=pd.DataFrame(Y_pred)
predictions.columns=['predictions']
np.savetxt("predictions.csv",Y_pred,delimiter=",",fmt='%f')
predictions

     predictions
0              0
1              1
2              0
3              1
4              0
..           ...
218            0
219            0
220            1
221            0
222            0

[223 rows x 1 columns]